<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	
	<!-- title -->
	<% 
		var title = page.title; 
		if ( title == '' ) {
			var title = page.slug.split("/")[page.slug.split("/").length-1]
		}else {
			var title = page.title; 
		};
	%>
	<title>
	<% if (title){ %>
		<%= title %> | 
	<% } %> 
	<%= config.title %>
	</title>
	
	<!-- keywords,description -->
	<% if (page.keywords){ %>
		<meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>" />
	<% } else if (config.keywords){ %>
		<meta name="keywords" content="<%= config.keywords %>" />
	<% } %> <% if (page.description){ %>
		<meta name="description" content="<%= page.description %>" />
	<% } else if (config.description){ %>
		<meta name="description" content="<%= config.description %>" />
	<% } %>

	<!-- favicon -->
	<% if (theme.favicon){ %>
	<%- favicon_tag(theme.favicon) %>
	<% } %>
  

	<%- css('css/main.css') %>
	<%- css('css/font-awesome.min.css') %>
	<%- css('css/dracula.min.css') %>

	<%- js('js/highlight.min.js') %>
	<%- js('js/jquery-3.5.1.min.js') %>
	<%- js('js/jquery.pjax.min.js') %>
	<%- js('js/main.js') %>
	<% if (theme.valine.enableComment){ %>
		<%- js('https://cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js') %>
		<%- js('https://cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js') %>
	<% } %>
	<% if (theme.busuanzi){ %>
		<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<% } %>
</head>